[core]
  ignore = dirty
[submodule "src/ext/http-parser"]
	path = src/ext/http-parser
	url = https://github.com/joyent/http-parser
[submodule "src/ext/libevent"]
	path = src/ext/libevent
	url = https://github.com/bassosimone/libevent
[submodule "src/ext/Catch"]
	path = src/ext/Catch
	url = https://github.com/philsquared/Catch
[submodule "src/ext/boost/src/iterator"]
	path = src/ext/boost/iterator
	url = https://github.com/boostorg/iterator
[submodule "src/ext/boost/src/static_assert"]
	path = src/ext/boost/static_assert
	url = https://github.com/boostorg/static_assert
[submodule "src/ext/boost/src/config"]
	path = src/ext/boost/config
	url = https://github.com/boostorg/config
[submodule "src/ext/boost/src/core"]
	path = src/ext/boost/core
	url = https://github.com/boostorg/core
[submodule "src/ext/boost/src/mpl"]
	path = src/ext/boost/mpl
	url = https://github.com/boostorg/mpl
[submodule "src/ext/boost/src/preprocessor"]
	path = src/ext/boost/preprocessor
	url = https://github.com/boostorg/preprocessor
[submodule "src/ext/boost/src/type_traits"]
	path = src/ext/boost/type_traits
	url = https://github.com/boostorg/type_traits
[submodule "src/ext/boost/src/detail"]
	path = src/ext/boost/detail
	url = https://github.com/boostorg/detail
[submodule "src/ext/boost/src/smart_ptr"]
	path = src/ext/boost/smart_ptr
	url = https://github.com/boostorg/smart_ptr
[submodule "src/ext/boost/src/assert"]
	path = src/ext/boost/assert
	url = https://github.com/boostorg/assert
[submodule "src/ext/boost/src/throw_exception"]
	path = src/ext/boost/throw_exception
	url = https://github.com/boostorg/throw_exception
[submodule "src/ext/boost/src/predef"]
	path = src/ext/boost/predef
	url = https://github.com/boostorg/predef
[submodule "src/ext/boost/src/typeof"]
	path = src/ext/boost/typeof
	url = https://github.com/boostorg/typeof
[submodule "src/ext/boost/src/utility"]
	path = src/ext/boost/utility
	url = https://github.com/boostorg/utility
[submodule "src/ext/yaml-cpp/src/yaml-cpp"]
	path = src/ext/yaml-cpp
	url = https://github.com/bassosimone/yaml-cpp.git
