[submodule "src/ext/http-parser"]
	path = src/ext/http-parser
	url = https://github.com/joyent/http-parser
[submodule "src/ext/libevent"]
	path = src/ext/libevent
	url = git@github.com:bassosimone/libevent
[submodule "src/ext/Catch"]
	path = src/ext/Catch
	url = https://github.com/philsquared/Catch
