language: cpp

script:
    - ./build/travis

matrix:
  include:

    - sudo: required
      env: DOCKER_IMAGE=ubuntu:yakkety DOCKER_SPEC=coveralls
           make_flags="-j3"
      services:
        - docker

    - sudo: false
      compiler: gcc-6
      env: CXX_NAME=g++-6 CC_NAME=gcc-6 VALGRIND=-valgrind
      addons:
        apt:
          packages:
            - g++-6
            - gcc-6
            - valgrind
          sources:
            - ubuntu-toolchain-r-test
